.container {
  display: flex;
  justify-content: space-between;
}

.h3 {
  width: 7%;
  color: blueviolet;
  border: 2px solid slateblue;
}

.h4 {
  text-align: right;
  border-style: groove;
  border-radius: 10px;
  
}

h1 {
    color: navy;
    text-align: center;
  }
  h2{
    padding: 30px;
    background-color: forestgreen;
  }
  p.one {
    color: rgba(33, 100, 2, 0.918);
  }

  p.three{
    border: 1px solid red;
    border-radius: 10px;
  }

  p.two{
    border: 2px solid black;
    padding: 10px;
    margin: auto;
    height: 80%;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    left: 50%;
  }
  .nine{
    display: flex;
    justify-content: space-between;
  }
  p.four{
    color: rgb(102, 245, 6);
    border: 2px solid grey;
    border-radius: 19px;
  }
  p.five{
    color: brown;
    border: 2px solid grey;
    border-radius: 19px;
  }